    <!-- =========================
        Header
    =========================== -->
    <header class="header header-layout1">
      <div class="header-topbar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-12 d-flex align-items-center justify-content-between">
              <span class="topbar__text">
                <span class="colored__text"><i class="icon-alert"></i> Bättre städning sparar pengar</span>
              </span>
              <div class="d-flex">
                <ul class="contact__list d-flex flex-wrap align-items-center list-unstyled mb-0">
                  <li>
                    <i class="icon-phone"></i>
                    <a href="tel:+464081488">
                      <span>Ring oss: </span> <span>040-814 88</span>
                    </a>
                  </li>
                  <li>
                    <i class="icon-email"></i>
                    <a href="mailto:info@delcoab.se">
                      <span>E-post: </span> <span>info@delcoab.se</span>
                    </a>
                  </li>
                  <li>
                    <i class="icon-clock"></i>
                    <a href="/kontakt/">
                      <span>Öppettider: </span> <span>Mån–Fre 09:00–15:00</span>
                    </a>
                  </li>
                </ul><!-- /.contact__list -->
                <ul class="social-icons list-unstyled mb-0 ml-30">
                  <li><a href="https://facebook.com/delcoab" target="_blank" rel="noopener"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://linkedin.com/company/delco-ab" target="_blank" rel="noopener"><i class="fab fa-linkedin-in"></i></a></li>
                </ul><!-- /.social-icons -->
              </div>
            </div><!-- /.col-12 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.header-top -->
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/assets/images/logo/delco-logo.webp" class="logo-light" alt="Delco AB logotyp">
            <img src="/assets/images/logo/delco-logo.webp" class="logo-dark" alt="Delco AB logotyp">
          </a>
          <a href="/offert/" class="btn btn__primary d-inline-flex d-lg-none align-items-center mobile-cta-btn">Gratis Offert</a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav mr-auto">
              <li class="nav__item">
                <a href="/" class="nav__item-link">Hem</a>
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="/tjanster/" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Tjänster</a>
                <ul class="dropdown-menu mega-menu mega-menu-services mega-menu-services-grouped">
                  <li class="nav__item">
                    <p class="mega-menu__group-title">För privatpersoner</p>
                    <div class="mega-menu__grid">
                      <a href="/tjanster/hemstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-house"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Hemstädning</span>
                          <span class="mega-menu__desc">Städabonnemang för hemmet</span>
                        </span>
                      </a>
                      <a href="/tjanster/flytt-och-storstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-dusting"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Flytt- & storstädning</span>
                          <span class="mega-menu__desc">Engångsstädning</span>
                        </span>
                      </a>
                    </div><!-- /.mega-menu__grid -->
                    <p class="mega-menu__group-title">För företag & fastigheter</p>
                    <div class="mega-menu__grid mega-menu__grid-3">
                      <a href="/tjanster/kontorsstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-maid"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Kontorsstädning</span>
                        </span>
                      </a>
                      <a href="/tjanster/trappstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-wipe"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Trappstädning</span>
                        </span>
                      </a>
                      <a href="/tjanster/butiksstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-cart"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Butiksstädning</span>
                        </span>
                      </a>
                      <a href="/tjanster/forskole-skolstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-sanitary"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Förskole-/skolstädning</span>
                        </span>
                      </a>
                      <a href="/tjanster/fastighetsskotsel/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-broom"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Fastighetsskötsel</span>
                        </span>
                      </a>
                      <a href="/tjanster/restaurangstadning/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-hand-wash"></i></span>
                        <span class="mega-menu__text">
                          <span class="mega-menu__title">Restaurangstädning</span>
                        </span>
                      </a>
                    </div><!-- /.mega-menu__grid -->
                    <div class="mega-menu__footer">
                      <a href="/tjanster/" class="nav__item-link dropdown-menu-title mb-0">Se alla tjänster <i class="icon-arrow-right"></i></a>
                      <a href="/offert/" class="btn btn__primary btn__sm">Begär offert</a>
                    </div><!-- /.mega-menu__footer -->
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item has-dropdown">
                <a href="/omraden/" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Områden</a>
                <ul class="dropdown-menu mega-menu mega-menu-areas">
                  <li class="nav__item">
                    <div class="mega-menu__grid mega-menu__grid-areas">
                      <a href="/omraden/malmo/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Malmö</span></span>
                      </a>
                      <a href="/omraden/lund/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Lund</span></span>
                      </a>
                      <a href="/omraden/landskrona/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Landskrona</span></span>
                      </a>
                      <a href="/omraden/eslov/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Eslöv</span></span>
                      </a>
                      <a href="/omraden/kavlinge/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Kävlinge</span></span>
                      </a>
                      <a href="/omraden/helsingborg/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Helsingborg</span></span>
                      </a>
                      <a href="/omraden/staffanstorp/" class="mega-menu__link">
                        <span class="mega-menu__icon"><i class="icon-location"></i></span>
                        <span class="mega-menu__text"><span class="mega-menu__title">Staffanstorp</span></span>
                      </a>
                    </div><!-- /.mega-menu__grid -->
                    <div class="mega-menu__footer">
                      <a href="/omraden/" class="nav__item-link dropdown-menu-title mb-0">Se alla områden <i class="icon-arrow-right"></i></a>
                      <a href="/offert/" class="btn btn__primary btn__sm">Begär offert</a>
                    </div><!-- /.mega-menu__footer -->
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="/hur-det-fungerar/" class="nav__item-link">Hur det fungerar</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="/om-oss/" class="nav__item-link">Om oss</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="/guider/" class="nav__item-link">Guider</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="/faq/" class="nav__item-link">FAQ</a>
              </li><!-- /.nav-item -->
              <li class="nav__item">
                <a href="/kontakt/" class="nav__item-link">Kontakt</a>
              </li><!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
            <button class="close-mobile-menu d-block d-lg-none"><i class="fas fa-times"></i></button>
          </div><!-- /.navbar-collapse -->
          <ul class="navbar-actions d-none d-lg-flex align-items-center list-unstyled mb-0">
            <li><a href="/offert/" class="btn btn__primary action__btn-request">Gratis Offert</a>
            </li>
          </ul>
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->
